<%= link_to 'Add new photo', new_gallery_admin_gallery_photo_path, :class => 'big button' %>

<h1>Photos in <%=@gallery.title%></h1>

<table class='formatted'>
  <tr>
    <th class='main'>Title</th>
    <th>Slug</th>
    <th></th>
  </tr>
  <% @photos.each do |photo| %>
    <tr>
      <td class='main'>
        <%= image_tag(photo.image.url(:admin)) %>
      </td>
      <td>
        <%= photo.slug %>
      </td>
      <td class='action_links'>
        <%= link_to 'Edit', edit_gallery_admin_gallery_photo_path(@gallery, photo) %>
        <%= link_to 'Delete', gallery_admin_gallery_photo_path(@gallery, photo), :method => :delete, :confirm => 'Are you sure?' %>
      </td>
    </tr>
  <% end %>
</table>