<%= form.text_field :title, :id => (@photo.new_record?? 'slugify' : nil) %>
<%= form.text_field :slug, :id => 'slug' %>
<% if @photo.image? %>
  <%= form.simple_field 'Current Image' do %>
    <%= image_tag(@photo.image.url(:thumb)) %>
    <br/>
    <%= link_to 'Crop Image', crop_sofa_gallery_admin_gallery_photo_path(@gallery, @photo) %>
  <% end %>
<% end %>
<%= form.file_field :image %>
<%= form.text_area :description %>
<%= form.simple_field nil, nil, :class => 'submit_element' do %>
  <%= link_to "Cancel", sofa_gallery_admin_gallery_photos_path(@photo.gallery), :id => 'cancel_btn' %>
  <span>or</span>
  <%= form.submit "Save", :disable_builder => true%>
<% end %>