<% content_for :head do %>
  <%= stylesheet_link_tag 'sofa_gallery/jquery.jcrop.css' %>
  <%= javascript_include_tag 'sofa_gallery/jquery.jcrop.js' %>
  <script type="text/javascript" charset="utf-8">
    $(function(){
      $('#crop_full').Jcrop({
        onChange: update_full_crop,
        onSelect: update_full_crop,
        aspectRatio: <%= @photo.gallery.force_ratio_full?? (@photo.gallery.full_width.to_f / @photo.gallery.full_height) : 'null' %>
      });
      
      $('#crop_thumb').Jcrop({
        onChange: update_thumb_crop,
        onSelect: update_thumb_crop,
        aspectRatio: <%= @photo.gallery.force_ratio_thumb?? (@photo.gallery.thumb_width.to_f / @photo.gallery.thumb_height) : 'null' %>
      });
    });
    
    
    function update_full_crop(coords) {
      var ratio = <%= @photo.image_geometry(:original).width %> / <%= @photo.image_geometry(:admin_full).width %>;
      $('#full_crop_x').val(coords.x * ratio);
      $('#full_crop_y').val(coords.y * ratio);
      $('#full_crop_w').val(coords.w * ratio);
      $('#full_crop_h').val(coords.h * ratio);
    }
    
    function update_thumb_crop(coords) {
      var ratio = <%= @photo.image_geometry(:original).width %> / <%= @photo.image_geometry(:admin_full).width %>;
      $('#thumb_crop_x').val(coords.x * ratio);
      $('#thumb_crop_y').val(coords.y * ratio);
      $('#thumb_crop_w').val(coords.w * ratio);
      $('#thumb_crop_h').val(coords.h * ratio);
    }
  </script>
<% end %>

<h1> Crop Photo </h1>

<%= sofa_gallery_form_for @photo, :as => :photo, :url => { :action => :update } do |form| %>

  <% if @photo.gallery.force_ratio_full? %>
    <%= form.simple_field 'Full Size' do %>
      <%= image_tag @photo.image.url(:admin_full), :id => 'crop_full' %>
    <% end %>
  <% end %>
  <br />
  <% if @photo.gallery.force_ratio_thumb? %>
    <%= form.simple_field 'Thumbnail' do %>
      <%= image_tag @photo.image.url(:admin_full), :id => 'crop_thumb' %>
    <% end %>
  <% end %>


  <% [:full_crop_x, :full_crop_y, :full_crop_w, :full_crop_h].each do |attr| %>
    <%= form.hidden_field attr, :id => attr %>
  <% end %>
  
  <% [:thumb_crop_x, :thumb_crop_y, :thumb_crop_w, :thumb_crop_h].each do |attr| %>
    <%= form.hidden_field attr, :id => attr %>
  <% end %>
  
  <%= form.submit 'Crop' %>
<% end %>