<%= link_to 'Add new gallery', new_sofa_gallery_admin_gallery_path, :class => 'big button' %>

<h1>Galleries</h1>

<%= render :partial => 'cms_admin/categories/index', :object => 'SofaGallery::Gallery' if defined?(ComfortableMexicanSofa) %>

<br />

<table class='formatted'>
  <tr>
    <th>
      Preview
    </th>
    <th>
      Name
    </th>
    <th>
      URL
    </th>
    <th>
      Embed Code
    </th>
    <th>
      Actions
    </th>
  </tr>
  <% @galleries.each do |gallery| %>
    <tr>
      <td class='preview'>
        <% gallery.photos.limit(1).each do |photo| %>
          <%= image_tag(photo.image.url(:admin_thumb)) %>
        <% end %>
      </td>
      <td class='main'>
        <%= link_to gallery.title, sofa_gallery_admin_gallery_photos_path(gallery) %>
      </td>
      <td>
        <%= link_to sofa_gallery_gallery_path(gallery), sofa_gallery_gallery_path(gallery), :target => '_blank' %>
      </td>
      <td class='embed'>
        {{ cms:helper:render_gallery:<%= gallery.slug  %> }}
      </td>
      <td class='action_links'>
        <%= link_to 'Show Photos', sofa_gallery_admin_gallery_photos_path(gallery) %>
        <%= link_to 'Edit', edit_sofa_gallery_admin_gallery_path(gallery) %>
        <%= link_to 'Delete', sofa_gallery_admin_gallery_path(gallery), :method => :delete, :confirm => 'Are you sure?' %>
      </td>
    </tr>
  <% end %>
</table>